<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jarvis.app"
    android:versionCode="1"
    android:versionName="1.0.0">

    <!-- Internet for OpenAI API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Microphone for speech recognition -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- Bluetooth for headset mic (optional) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <application
        android:label="JARVIS"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.Jarvis"
        android:hardwareAccelerated="true"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode">

        <!-- Main activity: fullscreen, landscape -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/Theme.Jarvis"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Don't show notification icon for foreground service -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
